.pdf-container {
  margin-left: 16px;
  position: relative;
}

.pdf-wrapper {
  margin-top: 72px;
  resize: both;
  min-width: 480px;
  max-width: 1024px;
  min-height: 480px;
  max-height: 720px;
  overflow: scroll;
  position: relative;
  display: inline-grid;
}

.invis-canvas {
  opacity: 0;
}

.highlight {
  position: absolute;
  background: rgb(255, 46, 81);
  opacity: 0.5;
  border-radius: 2px;
  pointer-events: none;
}

.pdf-controls-container {
  display: flex;
  justify-content: flex-start;
  background: var(--background-secondary);
  padding: 12px;
  border-radius: 0 0 8px 8px;
}

.pdf-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pdf-controls button {
  margin: 0 8px;
}

.error {
  color: red;
  font-weight: bold;
}
